<h1> Register</h1>

<form action="/register" method="post">
    <div>
    <input type="text" name="username" placeholder="username">
    </div>
    <div>
    <input type="text" name="password" placeholder="password">
    </div>
    <div>
        <select name="userType" >
            <option value="customer">customer</option>
            <option value="admin">admin</option>
        </select>
    </div>
    <button>Submit</button>
</form>